@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    /* src: url('./fonts/Pretendard-Bold.otf') format('opentype');
    src: url('./fonts/Pretendard-Black.otf') format('opentype');
    src: url('./fonts/Pretendard-ExtraBold.otf') format('opentype');
    src: url('./fonts/Pretendard-ExtraLight.otf') format('opentype');
    src: url('./fonts/Pretendard-Light.otf') format('opentype');
    src: url('./fonts/Pretendard-Medium.otf') format('opentype');
    src: url('./fonts/Pretendard-Regular.otf') format('opentype');
    src: url('./fonts/Pretendard-Thin.otf') format('opentype'); */
    src: url('./fonts/Pretendard-SemiBold.otf') format('opentype');

}


@font-face {
    font-family: Pretendard1;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    /* src: url('./fonts/Pretendard-Thin.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-Bold.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-Black.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-ExtraBold.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-ExtraLight.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-Light.otf') format('opentype'); */
    src: url('./fonts/Pretendard-Medium.otf') format('opentype');
    /* src: url('./fonts/Pretendard-Regular.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-Thin.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-SemiBold.otf') format('opentype'); */
}

@font-face {
    font-family: Pretendard2;
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    /* src: url('./fonts/Pretendard-Thin.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-Bold.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-Black.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-ExtraBold.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-ExtraLight.otf') format('opentype'); */
    src: url('./fonts/Pretendard-Light.otf') format('opentype');
    /* src: url('./fonts/Pretendard-Medium.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-Regular.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-Thin.otf') format('opentype'); */
    /* src: url('./fonts/Pretendard-SemiBold.otf') format('opentype'); */

}
html {
    box-sizing: border-box;
    font-size: 14px;
    scrollbar-gutter: stable;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h3,
p,
div {
    word-break: break-all;
}

button,
select {
    text-transform: none;
}
html,
body {
    height: 100%;
}
img {
    border: 0;
}
body {
    font-family: Pretendard;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #f6f5f5;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);

}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}


a,
div {
    text-decoration: none;
}
input {
    line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    overflow: visible;
}

div.tbb-only-ff {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

div.header-wrap {
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(255, 255, 255);
    justify-content: center;
    z-index: 300;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 6px;
}

div.header-menu {
    margin-top: 10px;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 105px;
    align-items: center;
    flex-direction: column;
}

div.header-upper-layout {
    max-width: 1160px;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 48px;
    max-height: 72px;
    align-items: center;
    justify-content: space-between;
}

div.header-logo {
    display: flex;
    width: 132px;
    min-height: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.header-status-wrap {
    margin-right: 0;
    display: inline-flex;
    width: auto;
    align-items: centor;
    justify-content: center;
}

div.header-project-btn {
    padding: 16px;
    display: inline-flex;
    width: auto;
    color: rgb(25, 25, 25);
    font-size: 12px;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

div.header-logo svg {
    height: 36px;
}
svg:not(:root) {
    overflow: hidden;
}
div.header-user-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.header-user-btn-content {
    margin-left: 10px;
    position: relative;
    padding: 16px;
    display: inline-flex;
    width: auto;
    min-width: 30px;
    max-height: 44px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

div.header-user-icon {
    position: relative;
    display: inline-flex;
    width: 24px;
    color: rgb(25, 25, 25);
    height: 24px;
    font-size: 12px;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: 24px;
    border-radius: 24px;
    font-weight: bold;
    background: rgb(217, 217, 217);
    margin: 0;
    padding: 0;
}

svg.user-icon {
    display: flex;
    min-width: 48px;
    transform: scale(0.5);
    cursor: pointer;
}
svg.user-icon path {
    fill: rgb(255, 255, 255);
}

div.user-text {
    margin-left: 10px;
    display: inline-flex;
    color: rgb(25, 25, 25);
    font-size: 12px;
    line-height: 28px;
    font-weight: bold;
    flex-shrink: 0;
}

div.header-fixed {
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 56px;
    z-index: 300;
}

div.header-bottom-searchbar {
    max-width: 1160px;
    padding: 0;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 56px;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
}

nav.header-bottom-category {
    margin-right: 20px;

    position: relative;
    width: 100%;
    min-height: 56px;
    display: flex;
    gap: 18px;
    user-select: none;
    overflow-x: auto;
    flex-wrap: nowrap;
}

div.header-bottom-list {
    padding: 0;
    min-height: 56px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Pretendard1;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(13, 13, 13);
    cursor: pointer;
    flex-shrink: 0;

}

div.hedare-list-icon {
    overflow: hidden;
    position: relative;
    display: inline-flex;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    justify-content: center;
    align-items: center;
}
div.hedare-list-icon svg {
    display: flex;
    min-width: 48px;
    transform: scale(0.5);
}

div.category-content {
    padding: 0 6px;
    min-height: 56px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Pretendard1;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(13, 13, 13);
    cursor: pointer;
    flex-shrink: 0;
    transition: 0.2s ease-in-out;
}


div.category-content.active::after {
    bottom: 0;
    position: absolute;
    display: flex;
    content: " ";
    width: 100%;
    opacity: 1;
    height: 2px;
    background: black;
    animation: 0.3s ease-in-out 0s 1 normal forwards running eclZLu;
}

div.search-bar {
    margin-right: 0;
    z-index: 300;
    position: relative;
    padding: 0 30px 0 16px;
    display: inline-flex;
    width: 260px;
    height: 36px;
    background: rgb(243, 243, 243);
    align-items: center;
    border-radius: 8px;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.3);
}

input.search-input {
    border: none;

    font-size: 12px;
    line-height: 28px;
    font-weight: normal;
    letter-spacing: 0.02em;
    background: rgb(243, 243, 243);
    color: rgb(51, 51, 51);
    appearance: none;
    outline: none;
}
input.search-input::placeholder {
    font-family: Pretendard2;
}
div.search-btn {
    position: absolute;
    right: 10px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

div.search-btn svg {
    display: flex;
    min-width: 48px;
    transform: scale(0.5);
    cursor: pointer;
}

main.main-layout {
    background-color: white;
}

div.main-wrap {
    padding: 38px 0 0;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    border-bottom: rgb(239, 239, 239);
}
div.main-top-section {
    max-width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 44px;
    width: 100%;
    margin: 0 auto;
}
div.spotlight-section {
    width: 766px;
    margin: 0 78px 0 0;
}

div.current-hero-container {
    margin: 0 auto;
    position: relative;
    user-select: none;
    overflow: hidden;
}
div.banner {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
div.swiper {
    position: relative;
    display: flex;
    box-sizing: content-box;
    transition-property: transform;
}
div.swiper-slide {
    position: relative;
    flex-shrink: 0;
    transition-property: transform;
}

a.swiper-link {
    height: 280px;
    display: block;
    min-height: 200px;
    text-decoration: none;
}

a.swiper-link picture img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.select-slide {
    right: 30px;
    bottom: 30px;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
}

div.swiper-page-nation {
    min-width: 40px;
    padding: 1px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
}

div.swiper-page-nation strong {
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-right: 2.5px;
}

div.arrow-btn {
    display: flex;
    margin-left: 12px;
}

button.prev-btn,
button.next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    transition: 0.2s ease-in;
    cursor: pointer;
}

button.prev-btn,
button.next-btn svg {
    font-size: 12px;
    fill: rgb(255, 255, 255);
}
button.next-btn {
    margin-left: 12px;
}

button.next-btn svg {
    transform: rotate(180deg);
}

div.shorcut-container {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    gap: 26px;
    min-height: 92px;
    margin-bottom: 28px;
    margin-top: 12px;
    /* justify-content: space-between; */
    padding: 20px 16px;
    scrollbar-width: none;
}
button.shorcut-btn {
    gap: 8px;
    max-width: 68px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 58px;
    padding: 0;
    border: none;
    background: transparent;
}
div.thumbail {
    width: 68px;
    height: 68px;
    padding: 7px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    background: rgb(246, 246, 246);
    border-radius: 16px;
}
div.thumbail img {
    width: 68px;
    height: 68px;
    object-fit: cover;
}

div.img-text {
    font: 400 13px / 22px Pretendard2;
    letter-spacing: -0.77px;
    color: rgb(61, 61, 61);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

div.spotlight-bottom {
    padding: 0;
    margin: 0 -6px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    background: #fff;
    color: #3d3d3d;
    position: relative;
}
div.spotlight-bottom-title {
    padding: 0 0 0 7px;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.025em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(28, 28, 28);
    font-weight: bold;
    margin: 16px 0;
}
div.spotlight-bottom-wrap {
    padding: 0;
    width: 100%;
}
div.content-wrap {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    scrollbar-width: none;
}
div.content-wrap div.card-wrapper {
    padding: 0 7px 40px;
    width: 25%;
}

div.side-bar-card-container div.card-wrapper{
    display: flex;
    width: 100%;
    margin-top: 12px;
    min-width: auto;
    padding: 0px !important;
}
div.content {
    width: 100%;
    display: flex;
    min-width: 136px;
    flex-direction: column;
    position: relative;
    transition: width 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform-origin: center center;
}
a.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

div.card-img {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    aspect-ratio: 1 / 1;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.04);
    transition: 0.2s ease-in-out;
    overflow: hidden;
    border-radius: 8px;
    transform-origin: center center;
}

div.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;
}

button.card-like-btn {
    outline: 0;
    width: 40px;
    height: 40px;
    bottom: 2px;
    right: 2px;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

div.card-content {
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 8px;
    margin-left: 0;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
}

div.card-content-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}
div.company-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: center;
    text-align: center;
}
div.creator-wrapper {
    font-size: 11px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}
div.creator-wrapper > div {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.product-content {
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
div.percent {
    padding: 0;
    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(235, 75, 56);
}
div.date-wrap {
    width: 100%;
    height: 18px;
    margin-bottom: 12px;
}

div.date-content {
    display: flex;
    gap: 4px;
}

img.recommend {
    width: 60px;
    height: 18px;
}

div.remain-date {
    color: rgb(84, 84, 84);
    background-color: rgb(240, 240, 240);
    height: 18px;
    font-size: 10px;
    font-weight: bold;
    line-height: 120%;
    display: flex;
    align-items: center;
    padding: 0 4px;
    border-radius: 2px;
}

div.side-bar-wrap {
    max-width: 314px;
    width: calc(100% - 844px);
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
}
div.side-bar-title{
    padding: 0px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    word-break: keep-all;
    position: relative;
    margin: 0px 0px 16px;
}
div.side-bar-content{
    padding: 0px;
    font-size:20px;
    line-height: 29px;
    letter-spacing: -0.025em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(28, 28, 28);
    font-weight: bold;
    margin: 0px;
}

div.side-bar-title > div{
    margin-right: 8px;
    border-radius: 1px;
    overflow: hidden;
}

div.side-bar-content > div{
    width: 100%;
}
div.rank-prj-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.rank-prj-link a.a{
    color: rgb(13, 13, 13);
}

div.rank-prj-link a.all{
    font-size: 16px;
    font-weight: normal;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    background: none;
    cursor: pointer;
    min-width: 58px;
    color:rgb(84,84,84) !important; 
}

span.list-date{
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    white-space: nowrap;
    font-weight: 400;
    color: rgb(109,109,109);
    margin: 2px 0px 0px;
    font-size: 12px;
    line-height: 20px;
}

div.side-bar-card-wrap{
    width: 100%;
    display: block;
    height: auto;
    max-height: 100%;
    overflow: hidden;
}
div.side-bar-card-container{
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
    padding:0 ;
    scrollbar-width: none;
}

div.side-bar-card-container .card-wrapper:first-child{
    margin-top: 0px;
}

div.rank-num{
    color: rgb(235, 75, 56);
    padding: 4px 0px 0px 11px;
    margin-right: -4px;
    z-index: 10000;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
}

div.card-img.side{
    width: 116px;
    height: 116px;
    flex: 0 0 auto;
    aspect-ratio: 1 / 1;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.04);
    transition: 0.2s ease-in-out;
    overflow: hidden;
    border-radius: 8px;
    transform-origin: center center;
}

a.side-bar-card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
}

div.card-content.side{  
    margin-left: 11px;
    margin-top : 6px;
}

div.product-content{
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

div.date-wrap.side{
    margin-bottom: 0px;
}

div.rank-num.down{
    color: rgb(28, 28, 28);
}

a.popular-prj-search{
    width: 233px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    margin: 37px auto 0px;
    display: flex;
    height: 44px;
    border: 1px solid rgb(228,228,228);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 8px;
    text-align: center;
    color: rgb(61, 61, 61);
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}


div.middle-wrap-section{
    padding : 24px 0px 0px;
    margin-bottom: 60px;
    position: relative;
    max-width: 1160px;
    width: 100%;
    margin: 0px auto;
}

div.middle-container{
    width: 1160px;
    max-width: 1160px;
    background: transparent;
    position: relative;
    z-index: 100;
}
div.middle-content-title{
    padding: 0;
    margin: 0px 0px 16px;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.025em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(28, 28, 28);
    font-weight: bold;
    position: relative;
}
div.middle-content-title > div{
    width: 100%;
}
div.middle-title-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.title-icon{
    padding: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    word-break: keep-all;
    gap: 10px;
}
span.title-ad{
    display: flex;
    width: 25px;
    height: 19px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color:rgb(228,228,228);
    border: 1px solid rgb(228, 228, 228);
}
div.middle-prj-list-wrap{
    padding: 0;
    width: 100%;
}

div.middle-prj-containner{
    width: 100%;
    padding: 0;
    z-index: 2;
    position: relative;
    max-width: 1160px;
    margin: 0px auto;
}
div.middle-prj-wrap{
    position: relative;
}
div.swiper-container{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}
div.swiper-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    margin-left: auto;
}

div.swiper-slide{
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    box-sizing: border-box;
}

button.slide-next-btn{
    right: -24px;
    display: flex;
    width: 48px;
    height: 48px;
    position: absolute;
    border: 0px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
    background: white;
    color: rgb(61, 61, 61);
    align-items: center;
    justify-content: center;
    outline: 0px;
    top: 110px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
    transition: 0.5s;

}

div.circle-btn{
    display: inline-flex;
    align-self: center;
}

div.circle-btn svg{
    font-size: 16px;
    fill: rgb(13, 13, 13);
    margin-left: 2px;
    width: 1em;
    height: 1em;
}

div.circle-btn:disabled svg{
    opacity: 0.2;
}


div.title-icon a{
    display: flex;
    align-items: center;
    word-break: keep-all;
    color: rgb(13, 13, 13);
    cursor: pointer;
    position: relative;
}
a.move-all-list{
    font-size: 16px;
    font-weight: normal;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    background: none;
    cursor: pointer;
    min-width: 58px;
    color: rgb(84, 84, 84);
}

div.container-component{
    padding: 48px 0px 0px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    position: relative;
    display: flex;
    margin: 0px auto 40px;
    max-width: 1160px;
    width: 100%;
}

div.content-info{
    width: 300px;
}

div.content-info-thumnail{
    margin-bottom: 28px;
}
div.content-info a{
    color : rgb(13, 13, 13);
}

div.thumnail-container{
    max-height: 360px;
    padding: 0;
    position: relative;
    width: 100%;
}

img.thumnail-thumnail-img{
    display: block;
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 12px;

}
div.text-info{
    gap: 12px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

div.text-title{
    font: 700 20px /28px Pretendard
}
div.text-description{
    font: 400 14px /24px Pretendard
}

a.view-all-btn {
    padding: 10px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 0px auto;
    border: 1px solid rgb(158,158,158);
    border-radius: 60px;
    font: 500 12px / 20px Pretendard;
}

div.arrow-right{
    display: inline-flex;
    align-self: center;
}

div.arrow-right svg{
    width: 1em;
    height: 1em;
}
div.collect-card-list{
    width: 764px;
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
}
div.card-list-container{
    width: 100%;
    padding: 0px;
    z-index: 2;
    position: relative;
    max-width: 1160px;
    margin: 0 auto;

}

div.card-list-slider{
    position: relative;
}
div.double-line{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px 14px;
    
}

div.chunk-item{
    min-width: 0px;
}

button.tbb-slide-button{
    top : 50%;
    transform:  translateY(-50%);
    display: flex;
    width: 48px;
    height: 48px;
    padding: 0px;
    position: absolute;
    border: 0px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px,rgba(0, 0, 0, 0.1) 0px 4px 5px;
    background: white;
    color: rgb(61,61,61);
    align-items: center;
    justify-content: center;
    outline: 0px;
    z-index: 3;
    transition: 0.5s;
}

button.tbb-slide-button.left{
    left: auto;
    right: 100%;
    margin-right: 16px;
}

button.tbb-slide-button.right{
    left: 100%;
    right: auto;
    margin-left: 16px;
}

button.tbb-slide-button.left:disabled svg{
    opacity: 0.2;
    margin-right: 2px;
    font-size: 16px;
    fill: rgb(13, 13, 13);
    width: 1em;
    height: 1em;
}
div.tbb-btn svg{
    font-size: 16px;
    fill: rgb(13,13,13);
    width: 1em;
    height: 1em;
}
div.tbb-btn{
    display: inline-flex;
    align-self: center;
}


button.tbb-slide-button.right svg{
    margin-left: 2px;
}