@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: url(./fonts/Pretendard-Thin.subset.0.woff2)  format('woff2');
    /* unicode-range: U+e0,U+e2,U+395,U+3b7,U+3ba,U+2460-2461,U+25a0,U+3010-3011,U+306e,U+30f3,U+314a,U+314c,U+5927,U+65b0,U+7e41,U+97d3,U+9ad4,U+ad49,U+ae0b,U+ae0d,U+ae43,U+ae5d,U+aecf,U+af3c,U+af64,U+afd4,U+b080,U+b084,U+b0c5,U+b10c,U+b1e8,U+b2ac,U+b36e,U+b451,U+b515,U+b540,U+b561,U+b6ab,U+b6b1,U+b72c,U+b730,U+b744,U+b800,U+b8ec,U+b8f0,U+b904,U+b968,U+b96d,U+b987,U+b9d9,U+bb36,U+bb49,U+bc2d,U+bc43,U+bcf6,U+bd89,U+be57,U+be61,U+bed4,U+c090,U+c130,U+c148,U+c19c,U+c2f9,U+c36c,U+c37c,U+c384,U+c3df,U+c575,U+c584,U+c660,U+c719,U+c816,U+ca4d,U+ca54,U+cabc,U+cb49,U+cc14,U+cff5,U+d004,U+d038,U+d0b4,U+d0d3,U+d0e0,U+d0ed,U+d131,U+d1b0,U+d31f,U+d33d,U+d3a0,U+d3ab,U+d514,U+d584,U+d6a1,U+d6cc,U+d749,U+d760,U+d799 */
}

@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url(./fonts/Pretendard-ExtraLight.subset.30.woff2)  format('woff2');
    /* unicode-range: U+e0,U+e2,U+395,U+3b7,U+3ba,U+2460-2461,U+25a0,U+3010-3011,U+306e,U+30f3,U+314a,U+314c,U+5927,U+65b0,U+7e41,U+97d3,U+9ad4,U+ad49,U+ae0b,U+ae0d,U+ae43,U+ae5d,U+aecf,U+af3c,U+af64,U+afd4,U+b080,U+b084,U+b0c5,U+b10c,U+b1e8,U+b2ac,U+b36e,U+b451,U+b515,U+b540,U+b561,U+b6ab,U+b6b1,U+b72c,U+b730,U+b744,U+b800,U+b8ec,U+b8f0,U+b904,U+b968,U+b96d,U+b987,U+b9d9,U+bb36,U+bb49,U+bc2d,U+bc43,U+bcf6,U+bd89,U+be57,U+be61,U+bed4,U+c090,U+c130,U+c148,U+c19c,U+c2f9,U+c36c,U+c37c,U+c384,U+c3df,U+c575,U+c584,U+c660,U+c719,U+c816,U+ca4d,U+ca54,U+cabc,U+cb49,U+cc14,U+cff5,U+d004,U+d038,U+d0b4,U+d0d3,U+d0e0,U+d0ed,U+d131,U+d1b0,U+d31f,U+d33d,U+d3a0,U+d3ab,U+d514,U+d584,U+d6a1,U+d6cc,U+d749,U+d760,U+d799 */
}


@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(./fonts/Pretendard-Light.subset.10.woff2)  format('woff2');
    /* unicode-range: U+e0,U+e2,U+395,U+3b7,U+3ba,U+2460-2461,U+25a0,U+3010-3011,U+306e,U+30f3,U+314a,U+314c,U+5927,U+65b0,U+7e41,U+97d3,U+9ad4,U+ad49,U+ae0b,U+ae0d,U+ae43,U+ae5d,U+aecf,U+af3c,U+af64,U+afd4,U+b080,U+b084,U+b0c5,U+b10c,U+b1e8,U+b2ac,U+b36e,U+b451,U+b515,U+b540,U+b561,U+b6ab,U+b6b1,U+b72c,U+b730,U+b744,U+b800,U+b8ec,U+b8f0,U+b904,U+b968,U+b96d,U+b987,U+b9d9,U+bb36,U+bb49,U+bc2d,U+bc43,U+bcf6,U+bd89,U+be57,U+be61,U+bed4,U+c090,U+c130,U+c148,U+c19c,U+c2f9,U+c36c,U+c37c,U+c384,U+c3df,U+c575,U+c584,U+c660,U+c719,U+c816,U+ca4d,U+ca54,U+cabc,U+cb49,U+cc14,U+cff5,U+d004,U+d038,U+d0b4,U+d0d3,U+d0e0,U+d0ed,U+d131,U+d1b0,U+d31f,U+d33d,U+d3a0,U+d3ab,U+d514,U+d584,U+d6a1,U+d6cc,U+d749,U+d760,U+d799 */
}

@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(./fonts/Pretendard-Regular.subset.80.woff2)  format('woff2');
    /* unicode-range: U+e0,U+e2,U+395,U+3b7,U+3ba,U+2460-2461,U+25a0,U+3010-3011,U+306e,U+30f3,U+314a,U+314c,U+5927,U+65b0,U+7e41,U+97d3,U+9ad4,U+ad49,U+ae0b,U+ae0d,U+ae43,U+ae5d,U+aecf,U+af3c,U+af64,U+afd4,U+b080,U+b084,U+b0c5,U+b10c,U+b1e8,U+b2ac,U+b36e,U+b451,U+b515,U+b540,U+b561,U+b6ab,U+b6b1,U+b72c,U+b730,U+b744,U+b800,U+b8ec,U+b8f0,U+b904,U+b968,U+b96d,U+b987,U+b9d9,U+bb36,U+bb49,U+bc2d,U+bc43,U+bcf6,U+bd89,U+be57,U+be61,U+bed4,U+c090,U+c130,U+c148,U+c19c,U+c2f9,U+c36c,U+c37c,U+c384,U+c3df,U+c575,U+c584,U+c660,U+c719,U+c816,U+ca4d,U+ca54,U+cabc,U+cb49,U+cc14,U+cff5,U+d004,U+d038,U+d0b4,U+d0d3,U+d0e0,U+d0ed,U+d131,U+d1b0,U+d31f,U+d33d,U+d3a0,U+d3ab,U+d514,U+d584,U+d6a1,U+d6cc,U+d749,U+d760,U+d799 */
}

@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(./fonts/Pretendard-Medium.subset.81.woff2) format('woff2');
    /* unicode-range: U+f9ca-fa0b,U+ff03-ff05,U+ff07,U+ff0a-ff0b,U+ff0d-ff19,U+ff1b,U+ff1d,U+ff20-ff5b,U+ff5d,U+ffe0-ffe3,U+ffe5-ffe6 */
}

@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(./fonts/Pretendard-SemiBold.subset.83.woff2)format('woff2');
    /* unicode-range: U+d723-d728,U+d72a-d733,U+d735-d748,U+d74a-d74f,U+d752-d753,U+d755-d757,U+d75a-d75f,U+d762-d764,U+d766-d768,U+d76a-d76b,U+d76d-d76f,U+d771-d787,U+d789-d78b,U+d78d-d78f,U+d791-d797,U+d79a,U+d79c,U+d79e-d7a3,U+f900-f909,U+f90b-f92e */
}
@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(./fonts/Pretendard-Bold.subset.81.woff2) format('woff2');
    /* unicode-range: U+cb91-cbd3,U+cbd5-cbe3,U+cbe5-cc0b,U+cc0e-cc0f,U+cc11-cc13,U+cc15-cc1b,U+cc1d-cc20,U+cc23-cc27,U+cc2a-cc2b,U+cc2d,U+cc2f,U+cc31-cc37,U+cc3a,U+cc3c */
}

html {
    box-sizing: border-box;
    font-size: 14px;
    scrollbar-gutter: stable;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2857em;
    margin: calc(2rem - 0.14285em) 0;
    font-weight: bold;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h3,
p,
div {
    word-break: break-all;
}

button,
select {
    text-transform: none;
}
html,
body {
    height: 100%;
}
img {
    border: 0;
}
body {
    font-family: Pretendard;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #f6f5f5;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);

}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}


a,
div {
    text-decoration: none;
}
input {
    line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    overflow: visible;
}

div.tbb-only-ff {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

div.header-wrap {
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(255, 255, 255);
    justify-content: center;
    z-index: 300;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 6px;
}

div.header-menu {
    margin-top: 10px;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 105px;
    align-items: center;
    flex-direction: column;
}

div.header-upper-layout {
    max-width: 1160px;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 48px;
    max-height: 72px;
    align-items: center;
    justify-content: space-between;
}

div.header-logo {
    display: flex;
    width: 132px;
    min-height: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.header-status-wrap {
    margin-right: 0;
    display: inline-flex;
    width: auto;
    align-items: centor;
    justify-content: center;
}

div.header-project-btn {
    padding: 16px;
    display: inline-flex;
    width: auto;
    color: rgb(25, 25, 25);
    font-size: 12px;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

div.header-logo svg {
    height: 36px;
}
svg:not(:root) {
    overflow: hidden;
}
div.header-user-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.header-user-btn-content {
    margin-left: 10px;
    position: relative;
    padding: 16px;
    display: inline-flex;
    width: auto;
    min-width: 30px;
    max-height: 44px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

div.header-user-icon {
    position: relative;
    display: inline-flex;
    width: 24px;
    color: rgb(25, 25, 25);
    height: 24px;
    font-size: 12px;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: 24px;
    border-radius: 24px;
    font-weight: bold;
    background: rgb(217, 217, 217);
    margin: 0;
    padding: 0;
}

svg.user-icon {
    display: flex;
    min-width: 48px;
    transform: scale(0.5);
    cursor: pointer;
}
svg.user-icon path {
    fill: rgb(255, 255, 255);
}

div.user-text {
    margin-left: 10px;
    display: inline-flex;
    color: rgb(25, 25, 25);
    font-size: 12px;
    line-height: 28px;
    font-weight: bold;
    flex-shrink: 0;
}

div.header-fixed {
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 56px;
    z-index: 300;
}

div.header-bottom-searchbar {
    max-width: 1160px;
    padding: 0;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 56px;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
}

nav.header-bottom-category {
    margin-right: 20px;

    position: relative;
    width: 100%;
    min-height: 56px;
    display: flex;
    gap: 18px;
    user-select: none;
    overflow-x: auto;
    flex-wrap: nowrap;
}

div.header-bottom-list {
    padding: 0;
    min-height: 56px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: Pretendard;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(13, 13, 13);
    cursor: pointer;
    flex-shrink: 0;

}

div.hedare-list-icon {
    overflow: hidden;
    position: relative;
    display: inline-flex;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    justify-content: center;
    align-items: center;
}
div.hedare-list-icon svg {
    display: flex;
    min-width: 48px;
    transform: scale(0.5);
}

div.category-content {
    padding: 0 6px;
    min-height: 56px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Pretendard;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(13, 13, 13);
    cursor: pointer;
    flex-shrink: 0;
    transition: 0.2s ease-in-out;
}


div.category-content.active::after {
    bottom: 0;
    position: absolute;
    display: flex;
    content: " ";
    width: 100%;
    opacity: 1;
    height: 2px;
    background: black;
    animation: 0.3s ease-in-out 0s 1 normal forwards running eclZLu;
}

div.search-bar {
    margin-right: 0;
    z-index: 300;
    position: relative;
    padding: 0 30px 0 16px;
    display: inline-flex;
    width: 260px;
    height: 36px;
    background: rgb(243, 243, 243);
    align-items: center;
    border-radius: 8px;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.3);
}

input.search-input {
    border: none;

    font-size: 12px;
    line-height: 28px;
    font-weight: normal;
    letter-spacing: 0.02em;
    background: rgb(243, 243, 243);
    color: rgb(51, 51, 51);
    appearance: none;
    outline: none;
}
input.search-input::placeholder {
    font-family: Pretendard;
}
div.search-btn {
    position: absolute;
    right: 10px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

div.search-btn svg {
    display: flex;
    min-width: 48px;
    transform: scale(0.5);
    cursor: pointer;
}

main.main-layout {
    background-color: white;
}

div.main-wrap {
    padding: 38px 0 0;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    border-bottom:1px solid rgb(239, 239, 239);
}
div.main-top-section {
    max-width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 44px;
    width: 100%;
    margin: 0 auto;
}
div.spotlight-section {
    width: 766px;
    margin: 0 78px 0 0;
}

div.current-hero-container {
    margin: 0 auto;
    position: relative;
    user-select: none;
    overflow: hidden;
}
div.banner {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
div.swiper {
    position: relative;
    display: flex;
    box-sizing: content-box;
    transition-property: transform;
}
div.swiper-slide {
    position: relative;
    flex-shrink: 0;
    transition-property: transform;
}

a.swiper-link {
    height: 280px;
    display: block;
    min-height: 200px;
    text-decoration: none;
}

a.swiper-link picture img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.select-slide {
    right: 30px;
    bottom: 30px;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
}

div.swiper-page-nation {
    min-width: 40px;
    padding: 1px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
}

div.swiper-page-nation strong {
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-right: 2.5px;
}

div.arrow-btn {
    display: flex;
    margin-left: 12px;
}

button.prev-btn,
button.next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    transition: 0.2s ease-in;
    cursor: pointer;
}

button.prev-btn,
button.next-btn svg {
    font-size: 12px;
    fill: rgb(255, 255, 255);
}
button.next-btn {
    margin-left: 12px;
}

button.next-btn svg {
    transform: rotate(180deg);
}

div.shorcut-container {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    gap: 26px;
    min-height: 92px;
    margin-bottom: 28px;
    margin-top: 12px;
    /* justify-content: space-between; */
    padding: 20px 16px;
    scrollbar-width: none;
}
button.shorcut-btn {
    gap: 8px;
    max-width: 68px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 58px;
    padding: 0;
    border: none;
    background: transparent;
}
div.thumbail {
    width: 68px;
    height: 68px;
    padding: 7px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    background: rgb(246, 246, 246);
    border-radius: 16px;
}
div.thumbail img {
    width: 68px;
    height: 68px;
    object-fit: cover;
}

div.img-text {
    font: 400 13px / 22px Pretendard;
    letter-spacing: -0.77px;
    color: rgb(61, 61, 61);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

div.spotlight-bottom {
    padding: 0;
    margin: 0 -6px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    background: #fff;
    color: #3d3d3d;
    position: relative;
}
div.spotlight-bottom-title {
    padding: 0 0 0 7px;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.025em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(28, 28, 28);
    font-weight: bold;
    margin: 16px 0;
}
div.spotlight-bottom-wrap {
    padding: 0;
    width: 100%;
}
div.content-wrap {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    scrollbar-width: none;
}
div.content-wrap div.card-wrapper {
    padding: 0 7px 40px;
    width: 25%;
}

div.side-bar-card-container div.card-wrapper {
    display: flex;
    width: 100%;
    margin-top: 12px;
    min-width: auto;
    padding: 0 !important;
}
div.content {
    width: 100%;
    display: flex;
    min-width: 136px;
    flex-direction: column;
    position: relative;
    transition: width 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform-origin: center center;
}
a.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

div.card-img {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    aspect-ratio: 1 / 1;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.04);
    transition: 0.2s ease-in-out;
    overflow: hidden;
    border-radius: 8px;
    transform-origin: center center;
}

div.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;
}

button.card-like-btn {
    outline: 0;
    width: 40px;
    height: 40px;
    bottom: 2px;
    right: 2px;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

div.card-content {
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 8px;
    margin-left: 0;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
}

div.card-content-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}
div.company-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: center;
    text-align: center;
}
div.creator-wrapper {
    font-size: 11px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}
div.creator-wrapper > div {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.product-content {
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
div.percent {
    padding: 0;
    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(235, 75, 56);
}
div.date-wrap {
    width: 100%;
    height: 18px;
    margin-bottom: 12px;
}

div.date-content {
    display: flex;
    gap: 4px;
}

img.recommend {
    width: 60px;
    height: 18px;
}

div.remain-date {
    color: rgb(84, 84, 84);
    background-color: rgb(240, 240, 240);
    height: 18px;
    font-size: 10px;
    font-weight: bold;
    line-height: 120%;
    display: flex;
    align-items: center;
    padding: 0 4px;
    border-radius: 2px;
}

div.side-bar-wrap {
    max-width: 314px;
    width: calc(100% - 844px);
    padding: 0;
    margin-bottom: 0;
    position: relative;
}
div.side-bar-title {
    padding: 0;
    margin: 0 0 16px;
    display: flex;
    align-items: center;
    word-break: keep-all;
    position: relative;
}
div.side-bar-content {
    padding: 0;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.025em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(28, 28, 28);
    font-weight: bold;
    margin: 0;
}

div.side-bar-title > div {
    margin-right: 8px;
    border-radius: 1px;
    overflow: hidden;
}

div.side-bar-content > div {
    width: 100%;
}
div.rank-prj-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.rank-prj-link a.a {
    color: rgb(13, 13, 13);
}

div.rank-prj-link a.all {
    font-size: 16px;
    font-weight: normal;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    background: none;
    cursor: pointer;
    min-width: 58px;
    color: rgb(84, 84, 84) !important;
}

span.list-date {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    white-space: nowrap;
    font-weight: 400;
    color: rgb(109, 109, 109);
    margin: 2px 0 0;
    font-size: 12px;
    line-height: 20px;
}

div.side-bar-card-wrap {
    width: 100%;
    display: block;
    height: auto;
    max-height: 100%;
    overflow: hidden;
}
div.side-bar-card-container {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

div.side-bar-card-container .card-wrapper:first-child {
    margin-top: 0;
}

div.rank-num {
    color: rgb(235, 75, 56);
    padding: 4px 0 0 11px;
    margin-right: -4px;
    z-index: 10000;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
}

div.card-img.side {
    width: 116px;
    height: 116px;
    flex: 0 0 auto;
    aspect-ratio: 1 / 1;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.04);
    transition: 0.2s ease-in-out;
    overflow: hidden;
    border-radius: 8px;
    transform-origin: center center;
}

a.side-bar-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
}

div.card-content.side {
    margin-left: 11px;
    margin-top: 6px;
}

div.product-content {
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

div.date-wrap.side {
    margin-bottom: 0;
}

div.rank-num.down {
    color: rgb(28, 28, 28);
}

a.popular-prj-search {
    width: 233px;
    margin: 37px auto 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    display: flex;
    height: 44px;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 8px;
    text-align: center;
    color: rgb(61, 61, 61);
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}


div.middle-wrap-section {
    padding: 24px 0 0;
    margin: 0 auto;
    position: relative;
    max-width: 1160px;
    width: 100%;
}

div.middle-container {
    width: 1160px;
    max-width: 1160px;
    background: transparent;
    position: relative;
    z-index: 100;
}
div.middle-content-title {
    padding: 0;
    margin: 0 0 16px;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.025em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(28, 28, 28);
    font-weight: bold;
    position: relative;
}
div.middle-content-title > div {
    width: 100%;
}
div.middle-title-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.title-icon {
    padding: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    word-break: keep-all;
    gap: 10px;
}
span.title-ad {
    display: flex;
    width: 25px;
    height: 19px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: rgb(228, 228, 228);
    border: 1px solid rgb(228, 228, 228);
}
div.middle-prj-list-wrap {
    padding: 0;
    width: 100%;
}

div.middle-prj-containner {
    width: 100%;
    padding: 0;
    z-index: 2;
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
}
div.middle-prj-wrap {
    position: relative;
}
div.swiper-container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}
div.swiper-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    margin-left: auto;
}

div.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    box-sizing: border-box;
}

button.slide-next-btn {
    right: -24px;
    display: flex;
    width: 48px;
    height: 48px;
    position: absolute;
    border: 0;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 4px, rgba(0, 0, 0, 0.1) 0 4px 5px;
    background: white;
    color: rgb(61, 61, 61);
    align-items: center;
    justify-content: center;
    outline: 0;
    top: 110px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
    transition: 0.5s;

}

div.circle-btn {
    display: inline-flex;
    align-self: center;
}

div.circle-btn svg {
    /* font-size: 16px; */
    fill: rgb(13, 13, 13);
    margin-left: 2px;
    width: 1em;
    height: 1em;
}

div.circle-btn:disabled svg {
    opacity: 0.2;
}


div.title-icon a {
    display: flex;
    align-items: center;
    word-break: keep-all;
    color: rgb(13, 13, 13);
    cursor: pointer;
    position: relative;
}
a.move-all-list {
    font-size: 16px;
    font-weight: normal;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    background: none;
    cursor: pointer;
    min-width: 58px;
    color: rgb(84, 84, 84);
}

div.container-component {
    padding: 48px 0 0;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 40px;
    position: relative;
    display: flex;
    max-width: 1160px;
    width: 100%;
}

div.content-info {
    width: 300px;
}

div.content-info-thumnail {
    margin-bottom: 28px;
}
div.content-info a {
    color: rgb(13, 13, 13);
}

div.thumnail-container {
    max-height: 360px;
    padding: 0;
    position: relative;
    width: 100%;
}

img.thumnail-thumnail-img {
    display: block;
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 12px;

}
div.text-info {
    gap: 12px;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

div.text-title {
    font: 700 20px / 28px Pretendard
}
div.text-description {
    font: 400 14px / 24px Pretendard
}

a.view-all-btn {
    padding: 10px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 0 auto;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 60px;
    font: 500 12px / 20px Pretendard;
}

div.arrow-right {
    display: inline-flex;
    align-self: center;
}

div.arrow-right svg {
    width: 1em;
    height: 1em;
}
div.collect-card-list {
    width: 764px;
    padding: 0;
    margin-bottom: 0;
    position: relative;
}
div.card-list-container {
    width: 100%;
    padding: 0;
    z-index: 2;
    position: relative;
    max-width: 1160px;
    margin: 0 auto;

}

div.card-list-slider {
    position: relative;
}
div.double-line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 14px;

}

div.chunk-item {
    min-width: 0;
}

button.tbb-slide-button {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 48px;
    height: 48px;
    padding: 0;
    position: absolute;
    border: 0;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 4px, rgba(0, 0, 0, 0.1) 0 4px 5px;
    background: white;
    color: rgb(61, 61, 61);
    align-items: center;
    justify-content: center;
    outline: 0;
    z-index: 3;
    transition: 0.5s;
}

button.tbb-slide-button.left {
    left: auto;
    right: 100%;
    margin-right: 16px;
}

button.tbb-slide-button.right {
    left: 100%;
    right: auto;
    margin-left: 16px;
}

button.tbb-slide-button.left:disabled svg {
    opacity: 0.2;
    margin-right: 2px;
    font-size: 16px;
    fill: rgb(13, 13, 13);
    width: 1em;
    height: 1em;
}
div.tbb-btn svg {
    font-size: 16px;
    fill: rgb(13, 13, 13);
    width: 1em;
    height: 1em;
}
div.tbb-btn {
    display: inline-flex;
    align-self: center;
}


button.tbb-slide-button.right svg {
    margin-left: 2px;
}

div.idus-content {
    padding: 24px 20px 0;
    margin-bottom: 60px;
    position: relative;
}
div.idus-content-wrap {
    width: 1160px;
    max-width: 1160px;
    position: relative;
    margin: 0 auto;
}
div.idus-content-title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: rgb(28, 28, 28);
    margin: 0 0 16px;
    padding: 0;
    font-weight: bold;
}

a.idus-content-title-img {
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgb(13, 13, 13);
}

div.idus-project-list {
    padding: 0;
    width: 100%;
}
div.idus-project-container {
    width: 100%;
    padding: 0;
    z-index: 2;
    max-width: 1160px;
    position: relative;
    margin: 0 auto;
}

div.swiper-container-init {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}
div.display-order-content-style {
    padding: 44px 0;

    position: relative;
    margin: 0 auto 60px;
    max-width: 1160px;
    width: 100%;
}
div.display-order-content {
    width: 1160px;
    max-width: 1160px;
    background: transparent;
    position: relative;
    z-index: 100;
}

div.display-order-content-style::after {
    display: block;
    content: "";
    width: 100vw;
    height: 100%;
    background: rgb(255, 247, 240);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

div.title-style-count {
    font-weight: 500;
    color: rgb(109, 109, 109);
    font-size: 14px !important;
    line-height: 22px !important;
}

strong.title-time {
    font-weight: 700;
    color: rgb(248, 100, 83);
    margin-right: 5px;
    font-size: 20px !important;
    line-height: 28px !important;
}
div.display {
    width: 100%;
}
div.middle-prj-containner.display {
    max-width: 1160px;
    margin: 0 auto;
}
div.front-page-bottom {
    max-width: 1160px;
    margin: 0 auto 98px;
    min-height: 10px;
}
div.prj-start-banner {
    margin-top: 33px;
    background: url("https://assets.tumblbug.com/assets/ProjectStart/projectStart-desktop.svg") 96.7% center no-repeat, rgb(255, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
}
div.prj-banner-content {
    max-width: 100%;
    height: 162px;
    padding: 30px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

h2.prj-start-banner-title {
    margin-top: 0;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
    color: white;
}

p.prj-banner-description {
    font-size: 28px;
    line-height: 36px;
    color: white;
    z-index: 1;
}


p.prj-banner-description:last-child {
    margin-bottom: 0;
}
div.style-container {
    position: relative;
    display: block;
    width: 100%;
    flex-grow: 1;
    background: rgb(255, 255, 255);
}
div.footer-wrap {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);

}


div.footer-link{
    width: 1160px;
    flex-direction: row;
    justify-content:  space-between;
    max-height: 220px;
    min-height: 178px;
    padding: 0px 16px;
    display: flex;
}

div.footer-sitmap{
    flex-direction: row;
    margin-top: 24px;
    display: flex;
}

div.footer-sitemap-content{
    margin-top: 0;
    flex-wrap: nowrap;
    display: flex;

}

div.footer-content-list{
    display : flex;
    width: 100%;
    height: 100%;
    flex-flow: wrap;
    flex-direction: column;
}

div.footer-sitemap-title{
    display: flex;
    width: 100%;
    max-height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color:rgb(61, 61, 61);
}

a.linked-list{
    font-size: 14px;
    line-height: 22px;
    margin-right: 0;
    position: relative;
    display: inline-flex;
    color: rgb(109, 109, 109);
    font-weight: 500;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
}
a.linked-list:first-of-type{
    margin-top: 12px;
}

a.linked-list span{
    position: relative;
}
span.icon::after{
    opacity: 1;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top : -2px;
    right: -16px;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(240,87,87);
    content: "N";
    font-size: 8px;
    font-weight: bold;
}

a.linked-list span em{
    font-style: normal;
    font-weight: 700;
    color:rgb(248, 100, 83) !important
}

div.footer-app-link{
    margin-top: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}
a.linked-list-btn{
    margin-top: 10px;
    width: 140px;
    height: 36px;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background: rgb(240, 240, 240);
    border-radius: 4px;
    color: rgb(109, 109, 109);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

div.linked-list-store-btn{
    margin-left: -10px;
    align-items: baseline;
}

div.store-btn-icon{
    width: 22px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

a.linked-list-btn div{
    position: relative;
    display: flex;
}

div.icon-svg{
    align-self: center;
}
div.icon-svg svg{
    top:0.125em;
    position: relative;
    width: 1em;
    height: 1em;
}

div.icon-svg svg path{
    fill: rgb(109, 109, 109);
}

div.footer-customer{
    min-width: 200px;
    margin-top: 24px;
}
div.customer-title{
    display: flex;
    width: 100%;
    max-height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color:rgb(61, 61, 61);
}
div.customer-date{
    margin-top: 12px;
    display: flex;
    width: 100%;
    max-height: 24px;
    font-size: 12px;
    line-height: 18px;
    color : rgb(109, 109, 109);
}
a.customer-link{
    max-width: 180px;
    height: 36px;
    margin-top: 10px;
    display: flex;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    color:rgb(61, 61, 61);
    border: 1px solid rgb(228, 228, 228);
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

div.footer-company{
    width: 1160px;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(240, 240, 240);
    font-size: 13px;
    padding: 0px 16px;
    margin-bottom: 16px;
}
div.footer-company-wrap{
    padding-top: 20px;
    min-width: 800px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    place-content: flex-start;

}
div.footer-company-item{
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgb(61, 61, 61);
}

div.footer-company-item strong{
    margin-right: 5px;
    display: flex;
    height: 20px;
    flex-direction: row;
    font-weight: 500;
    line-height: 20px;
    align-items: flex-start;
    white-space: nowrap;
}

div.footer-company-item span{
    margin-right: 5px;
    display: flex;
    height: 20px;
    flex-direction: row;
    font-weight: 500;
    line-height: 20px;
    align-items: flex-start;
    white-space: nowrap;
    color: rgb(109, 109, 109);
}
div.footer-company-wrap div.last-div{
    margin: 0px 0px 72px;
    display: block;
    width: 100%;
    color:rgb(158, 158, 158);
    font-size: 13px;
    line-height: 20px;
}

div.footer-share-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-end;
    margin-top: 10px;
    display: flex;
    width: 100%;
}

a.footer-btn-section{
    position: relative;
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 32px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
a.footer-btn-section div.circle-btn{
    padding-bottom: 1px;
    padding-left: 1px;
}

div.circle-btn svg{
    display: flex;
    transform: scale(1.4);
    fill: rgb(61, 61, 61);
}
div.footer-isms-container{
    padding-left: 0px;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(102,102,102);
    font-size: 10px;
    font-weight: normal;
    line-height: 150%;
}
div.footer-isms-container a {
    display: inline-block;
}
div.footer-isms-container a img{
    vertical-align: middle;
}

div.footer-isms-wrap{
    width: 1080px;
    display: flex;
    padding-left: 4px;
    flex-direction: column;
}
div.footer-isms-content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
}

div.footer-isms-wrap span{
    display: flex;
}
div.footer-notify{
    display: flex;
    width: 100%;
    height: auto;
    min-height: 56px;
    align-items: center;
    justify-content: center;
    background: rgb(240,240,240);
    color:rgb(109,109,109);
}

div.footer-notify-text{
    width: 1160px;
    padding: 10px 16px;
    display: flex;
    height: auto;
    font-size: 12px;
    line-height: 18px;
}

div.footer-circle-btn svg{
    display: flex;
    transform: scale(1.4);
    fill: rgb(61, 61, 61);
    width: 1em;
    height: 1em;
}
div.footer-circle-btn{
    padding-bottom: 1px;
    padding-left: 1px;
    display: inline-flex;
    align-self: center;
}